.footerC{
    background: #000;
    width: 100%;
    color: #fff;
    text-align: center;
}

.copyright {
    font-size: 0.6em;
    padding: 5px;
    margin: 0;
    font-family: 'Birthstone', cursive;
}

